*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.task-container {
  border: 2px solid hsl(235, 24%, 19%);
  border-bottom: 2px solid hsl(235, 18%, 25%);
  width: 100%;
  display: flex;
  padding: 1.05rem;
  padding-left: 6%;
  padding-right: 5%;
  align-items: center;
  /* border-radius: 5px; */
  position: relative;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0 1px 3px hsl(235, 24%, 19%);
  justify-content: flex-start;
}

.completed-icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  display: grid;
  place-content: center;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
  /* border: 1px solid white; */
}

.completed-icon:active,
.completed-icon:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.task-name {
  margin-left: 1rem;
}

.delete-task-btn {
  margin-left: auto;
  cursor: pointer;
}

.icon-cover {
  position: absolute;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  background-color: hsl(235, 24%, 19%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
